@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

:root {
    --blue: #0A5566;
}

/* Helper classes */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.justify-content-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.align-items-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/* HTML, body */
html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Header Top */

.header-top {
    background-color: #E77E18;
}

/* Announcement Bar *Mobile* */

.announcement-bar-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 29px;
    background-color: var(--blue);
}

.announcement-bar-mobile>p {
    color: #fff;
    font-size: 11px;
}

/* Announcement Bar *Desktop* */

.announcement-bar-desktop {
    display: none;
}

.announcement-bar-desktop>li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.announcement-bar-desktop>li>span {
    font-size: 13px;
    color: #fff;
    margin-left: 10px;
}

.virtual-consultation,
.contact-specialist,
.click-and-collect,
.search-icon {
    position: relative;
}

.virtual-consultation-vector-1,
.virtual-consultation-vector-2,
.contact-specialist-vector-1,
.click-and-collect-vector-1,
.click-and-collect-vector-2,
.click-and-collect-vector-3,
.click-and-collect-vector-4,
.click-and-collect-vector-5,
.click-and-collect-vector-6 {
    position: absolute;
}

.virtual-consultation-vector-1 {
    height: 8.472610473632812px;
    width: 13.597644805908203px;
    left: -17.19775390625px;
    top: -5.50400390625px;
}

.virtual-consultation-vector-2 {
    height: 19.857013702392578px;
    width: 22.377548217773438px;
    left: -21.807861328125px;
    top: -9.150390625px;
}

.contact-specialist-vector-1 {
    height: 18.331878662109375px;
    width: 19.59326171875px;
    left: -19px;
    top: -9.949219px;
}

.click-and-collect-vector-1 {
    height: 1.23046875px;
    width: 4.921875px;
    left: -18px;
    top: -3.3828125px;
}

.click-and-collect-vector-2 {
    height: 3.840703010559082px;
    width: 3.8407211303710938px;
    left: -9.992919921875px;
    top: -8.16259765625px;
}

.click-and-collect-vector-3 {
    height: 3.8407020568847656px;
    width: 3.840703010559082px;
    left: -16.162353515625px;
    top: -1.9931640625px;
}

.click-and-collect-vector-4 {
    height: 3.840703010559082px;
    width: 3.840703010559082px;
    left: -16.162353515625px;
    top: -8.16259765625px;
}

.click-and-collect-vector-5 {
    height: 4.921875px;
    width: 1.23046875px;
    left: -11.3828125px;
    top: -10px;
}

.click-and-collect-vector-6 {
    height: 13.479427337646484px;
    width: 13.479402542114258px;
    left: -11.5205078125px;
    top: -3.5205078125px;
}

/* Header Main */

.header-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0;
    width: 90%;
    max-width: 960px;
    margin: auto;
}

.header-main-left {
    display: none;
}

.hamburger-icon {
    position: relative;
    width: 50px;
    cursor: pointer;
}

.hamburger-icon-1,
.hamburger-icon-2,
.hamburger-icon-3 {
    position: absolute;
}

.hamburger-icon-1 {
    top: -12px;
}

.hamburger-icon-2 {
    top: -4px;
}

.hamburger-icon-3 {
    top: 4px;
}

.book-a-consultation {
    background: -o-linear-gradient(right, #00404E -9.09%, #0A5566 44.05%, #00404E 103.03%);
    background: -webkit-gradient(linear, right top, left top, color-stop(-9.09%, #00404E), color-stop(44.05%, #0A5566), color-stop(103.03%, #00404E));
    background: linear-gradient(270deg, #00404E -9.09%, #0A5566 44.05%, #00404E 103.03%);
    border: none;
    color: #fff;
    height: 48px;
    width: 201px;
}

.header-main .telephone {
    margin-left: 25px;
}

.header-main .telephone>a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #000;
    text-decoration: none;
    font-size: 13px;
}
.header-main .telephone>a>span {
    margin-top: 5px;
    margin-left: 8px;
}

.header-main>.phone-icon {
    height: 18.62286376953125px;
    width: 20.00006103515625px;
}

.header-main .main-logo {
    height: 40px;
}

.header-main>form {
    display: inline;
}

.header-main form>input[type="search"] {
    display: none;
    background-color: #f7f7f7;
    height: 35px;
    width: 234px;
    border-radius: 2px;
    border: none;
}

.icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.icons>img {
    height: 21px;
    width: 21px;
    margin-left: 10px;
    cursor: pointer;
}

.location-icon,
.account-icon {
    display: none;
}


/* Header Bottom */

.header-bottom {
    display: none;
}

.header-bottom>nav {
    padding: 15px 0;
}

.header-bottom>nav>.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style-type: none;
    padding: 0;
}

.header-bottom>nav>.navbar>li {
    font-size: 14px;
    margin: 10px 25px;
}

.header-bottom>nav>.navbar>li>a {
    font-size: 14px;
    text-decoration: none;
    color: #000;
}

.section-1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
}

/* Image Container */

.image-container {
    background-color: #fafafa;
} 

.main-image-surrounding {
    width: 100%;
}

.main-image-surrounding .main-product-image {
    height: 80vmin;
    max-height: 360px;
    margin: auto;
}

.main-image-surrounding .product-image {
    height: 100%;
    max-height: 360px;
    margin: auto;
}

.carousel {
    max-width: 100vw;
}

.carousel-control-prev,
.carousel-control-next {
    position: initial;
    width: 1.2rem;
    height: 1.2rem;
}

.carousel-dark .carousel-indicators {
    position: initial;
    margin-top: 20px;
}

.carousel-dark .carousel-indicators>li {
    background-color: transparent;
    -webkit-box-shadow: 0 0 6px rgb(0 0 0 / 10%);
            box-shadow: 0 0 6px rgb(0 0 0 / 10%);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 5px;
}

.carousel-dark .carousel-indicators>li.active {
    -webkit-box-shadow: 0 0 3px var(--blue);
            box-shadow: 0 0 3px var(--blue);
}

.carousel-dark .carousel-indicators>li>img {
    border-radius: 5px;
    padding: 5px;
}

.carousel-indicators li {
    background-color: transparent;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 100%;
    height: calc(100vw / 5);
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    opacity: .5;
    -webkit-transition: opacity .6s ease;
    -o-transition: opacity .6s ease;
    transition: opacity .6s ease;
}

.carousel-item>.carousel-caption {
    position: initial;
    padding: 5px;
    height: 45px;
}

.carousel-item>.carousel-caption>p {
    font-size: 14px;
    font-weight: 400;
}

.carousel-item>.carousel-caption>p>.red-text {
    color: red;
}


/* Product Info */

.product-container {
    padding: 20px;
}

.product-container>.breadcrumb {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.product-container>.breadcrumb a {
    text-decoration: none;
    color: #979797;
}

.product-description {
    text-align: center;
}

.product-description>h3 {
    font-size: 22px;
    font-weight: 400;
}

.product-description>h2 {
    color: var(--blue);
    font-size: 26px;
    font-weight: 300;
}

.product-description>h2>.selling-price-text {
    font-size: 14px;
    color: #000;
}

.product-delivery-info>img {
    height: 19.582792282104492px;
    width: 30px;
    left: 0px;
    top: 5.20849609375px;
    border-radius: 0px;
    margin-right: 10px;
}

.product-delivery-info>div>p {
    color: var(--blue);
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 0;
}

.product-delivery-info>div>p>.delivery-time {
    position: relative;
    color: #c70000;
}

.delivery-information-circle {
    position: absolute;
    top: -20px;
    right: -6px;
    border: 1px solid var(--blue);
    border-radius: 50%;
    width: 17px;
    height: 17px;
    padding: 0 6px;
    line-height: 17px;
    color: var(--blue);
}

.product-buttons>.book-a-consultation-button,
.product-buttons>.choose-a-consultation-button {
    height: 54px;
    max-width: 202px;
    font-size: 14px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border-radius: 5px;
}

.product-buttons>.book-a-consultation-button {
    border: 1px solid #000;
    margin-right: 5px;
}

.product-buttons>.choose-a-consultation-button {
    background-color: var(--blue);
    color: #fff;
    margin-left: 5px;
}

.product-select-dropdowns select {
    height: 34px;
    width: 147px;
    left: 894px;
    top: 470px;
    border-radius: 5px;
    border: none;
    background-color: #e7e7e7;
    font-size: 14px;
}

.product-select-dropdowns select:nth-child(1) {
    margin-right: 15px;
}

.product-select-dropdowns .option-script {
    font-family: 'Dancing Script', cursive;
}

.product-spec {
    width: 80vw;
    max-width: 500px;
    margin: auto;
}

.product-spec>nav {
    position: relative;
    width: 90%;
}

.product-spec .nav-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: scroll;
    border: none;
}

.product-spec .nav-tabs>.nav-link {
    border: none;
    font-size: 14px;
    font-weight: 14px;
    color: #000;
    border-bottom: 3px solid #ccc;
    -webkit-transition: border .2s ease-in;
    -o-transition: border .2s ease-in;
    transition: border .2s ease-in;
    padding-bottom: 15px;
}

.product-spec .nav-tabs>.active {
    color: var(--blue);
    border-bottom: 3px solid var(--blue);
}

.product-spec .nav-tabs .product-details {
    min-width: 135px;
}

.product-spec .nav-tabs .packaging {
    min-width: 105px;
}

.product-spec .nav-tabs .finance-information {
    min-width: 165px;
}

.product-spec .nav-tabs .shipping-and-returns {
    min-width: 95px;
}

.product-spec .chevron {
    position: absolute;
    height: 20px;
    top: calc(50% - 10px);
    cursor: pointer;
    -webkit-transition: opacity .3s ease-in;
    -o-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in;
}

.product-spec .chevron-left {
    left: -20px;
}

.product-spec .chevron-right {
    right: -20px;
}

.product-spec .nav-tabs::-webkit-scrollbar {
    display: none;
}

.product-spec .tab-content {
    width: 90%;
}

.product-spec .tab-pane {
    font-size: 14px;
    font-weight: 400;
    padding: 20px 0;
}

.product-quality {
    background-color: #FAFAFA;
    padding: 30px 20px;
}

.product-quality p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0;
}

.product-quality .product-quality-line {
    background-color: var(--blue);
    height: 1px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 20px;
}

.product-quality>img {
    width: 122px;
    height: 116px;
}


/* Section 2 */

.down-arrow {
    padding-top: 100px;
    padding-bottom: 30px;
}

.section-2-heading>h1 {
    font-family: 'Marcellus', serif;
    font-size: 48px;
}

.section-2-heading>h4 {
    font-size: 18px;
}

.select-stone-tab .nav-tabs {
    border-bottom: 2px solid var(--blue);
}

.select-stone-tab .nav-link {
    background-color: #fafafa;
    width: 28vw;
    max-width: 190px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0;
    border: 2px solid #c8c8c8;
    border-bottom: 0;
    padding-bottom: 5px;
}

.select-stone-tab .nav-tabs .active {
    background-color: #fafafa;
    margin-bottom: -2px;
}

.select-stone-tab .select-stone-image-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 5px;
}

.select-stone-tab img {
    height: 22px;
}

.select-stone-tab p {
    margin-bottom: 0;
    text-align: center;
    font-size: 12px;
    color: #726D6D;
}

.select-stone-tab .nav-tabs .active {
    border: 2px solid var(--blue);
    border-bottom: none;
}

.select-stone-tab .nav-tabs .active p {
    color: var(--blue);
}

.select-stone-tab .tab-content {
    background-color: #fafafa;
    padding: 30px;
}

.natural-diamond-control-bars-desktop,
.natural-diamond-control-bars-mobile {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
}

.natural-diamond-control-bars-mobile>button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 2px solid #c8c8c8;
    background-color: transparent;
    padding: 10px;
    border-radius: 3px;
    font-size: 14px;
    margin: 6px;
}

.natural-diamond-control-bars-mobile>button>.fa {
    font-size: 10px;
    margin-left: 5px;
    margin-bottom: 2px;
}

.natural-diamond-control-bars-desktop>div {
    margin: 20px 30px;
}

.natural-diamond-control-bars-desktop .control-bars-heading {
    text-align: left;
    color: #000;
    font-weight: bold;
}

.natural-diamond-control-bars-desktop .control-bars-heading>span {
    position: relative;
}

.natural-diamond-control-bars-desktop .control-bars-heading>span>.control-bar-info {
    position: absolute;
    right: -12px;
    top: -12px;
    width: 14px;
    height: 14px;
    border: 1px solid var(--blue);
    color: var(--blue);
    font-size: 12px;
    line-height: 12px;
    border-radius: 50%;
    text-align: center;
}

.natural-diamond-control-bars-desktop .stone-shape {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
    grid-template-columns: repeat(5, 1fr);
}

.natural-diamond-control-bars-desktop .stone-shape>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #fff;
    border: .5px solid #8a8a8a;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 3px rgb(0 0 0 / 20%);
            box-shadow: 0px 0px 3px rgb(0 0 0 / 20%);
    margin: 3px auto;
    padding: 3px;
    width: 100%;
    max-width: 60px;
}

.natural-diamond-control-bars-desktop .stone-shape>div>img {
    height: 20px;
}

.natural-diamond-control-bars-desktop .control-bar {
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 3px;
    background-color: #8a8a8a;
}

.natural-diamond-control-bars-desktop .control-bar>.control-bar-left,
.natural-diamond-control-bars-desktop .control-bar>.control-bar-right {
    background-color: #8a8a8a;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top: -6px;
}

.natural-diamond-control-bars-desktop .control-bar>.control-bar-range {
    background-color: #fff;
    position: absolute;
    right: 0;
    top: -50px;
    padding: 5px;
    line-height: 12px;
    font-size: 14px;
    border: 1px solid #000;
}

.natural-diamond-control-bars-desktop .control-bar>.control-bar-left {
    left: 0;
}

.natural-diamond-control-bars-desktop .control-bar>.control-bar-right {
    right: 0;
}

.control-bar-filters {
    margin: 20px 30px;
    font-size: 14px;
}

.control-bar-filters>.filters-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 28px;
    height: 16px;
    border-radius: 16px;
}

.control-bar-filters>.filters-slider>.filters-slider-left {
    background-color: var(--blue);
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.control-bar-filters>.filters-slider>.filters-slider-right {
    background-color: #c8c8c8;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}


/* Section 3 */

.diamond-select-filters-desktop,
.diamond-select-filters-mobile {
    margin: 10px;
}

.diamond-select-filters-desktop>div>span,
.diamond-select-filters-mobile>div>span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 10px;
    font-size: 13px;
}

.diamond-select-filters-mobile .truck-surrounding {
    height: 21px;
    width: 21px;
    border: 1px solid #5a5a5a;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 3px;
}

.diamond-select-filters-desktop .truck-surrounding {
    height: 18px;
    width: 18px;
    border: 1px solid #5a5a5a;
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: 3px;
}

.diamond-select-filters-desktop>div>span>input[type="radio"],
.diamond-select-filters-mobile>div>span>input[type="radio"] {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: 3px;
}

.diamond-select-filters-desktop .tile-image {
    height: 20px;
    margin-right: 5px;
}

.diamond-select-filters-desktop input[type="search"],
.diamond-select-filters-mobile input[type="search"] {
    width: 120px;
    font-size: 14px;
    padding-left: 5px;
}

.diamond-select-filters-desktop input[type="search"] {
    margin-left: 50px;
}

.diamond-select-filters-desktop .filters-text {
    font-size: 14px;
}
.diamond-select-filters-mobile .filters-text {
    font-size: 12px;
}

.diamond-select-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
}

.diamond-select-item {
    background-color: #fafafa;
    border: 1px solid #c8c8c8;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
}

.diamond-select-item>img {
    width: calc(100% - 100px);
    padding-right: 10px;
    max-height: 198px;
    max-width: 198px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.diamond-select-item .lab-grown-image {
    height: 20px;
    margin-right: 5px;
}

.diamond-select-item span {
    font-size: 12px;
}

.diamond-select-item input {
    margin-right: 5px;
}

.diamond-select-item ul {
    list-style: none;
    padding: 0;
}

.diamond-select-item ul>li {
   height: 16px;
}

.diamond-select-item .item-key,
.diamond-select-item .item-value {
    font-size: 11px;
}

.diamond-select-item .choose-diamond-button {
    background-color: var(--blue);
    color: #fff;
    font-size: 13px;
    border-radius: 6px;
    padding: 6px;
    margin-bottom: 5px;
}

.diamond-select-item .fa-chevron-up,
.diamond-select-item .fa-chevron-down {
    font-size: 7px;
    margin-top: 5px;
    margin-left: 5px;
}

.diamond-select-item .see-details-button {
    background-color: transparent;
    border: 1px solid #000;
    font-size: 13px;
    border-radius: 6px;
    padding: 6px;
}

.diamond-select-item .more-info-box {
    padding: 6px;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    margin-left: 8px;
    margin-right: 8px;
}

.diamond-select-item .list-desktop {
    padding-left: 10px;
    padding-right: 10px;
}

.diamond-select-item .list-desktop li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    line-height: 12px;
    text-align: center;
}

.diamond-select-item .list-desktop li>.item-key {
    color: #c8c8c8;
}

.diamond-select-item .choose-diamond-button-desktop {
    height: 35px;
    margin-left: 8px;
    margin-right: 8px;
}

.footer {
    border-top: 2px solid #c8c8c8;
    padding: 15px 0;
    color: #c8c8c8;
    text-align: center;
}

/* Media Queries */

@media only screen and (min-width: 576px) {
    .container {
        max-width: 540px!important;
    }
    .carousel-dark .carousel-indicators {
        margin-right: calc(15% + 60px);
        margin-left: calc(15% + 60px);
    }
    .carousel-indicators li {
        height: 85px;
    }
    .select-stone-tab img {
        height: 28px;
    }
    
    .select-stone-tab p {
        font-size: 14px;
    }
    .diamond-select-list {
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    }
    .diamond-select-item>img {
        width: 100%!important;
        padding: 8px;
        max-height: unset;
        max-width: unset;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 720px!important;
    }
    .diamond-select-list {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 991px) {
    .announcement-bar-desktop {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        height: 37px;
        max-width: 900px;
        margin: 0 auto;
    }
    .announcement-bar-mobile {
        display: none;
    }
    .container {
        max-width: 960px!important;
    }
    .location-icon,
    .account-icon {
        display: inline;
    }
    .search-icon {
        display: none;
    }
    .header-main-left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .header-main form>input[type="search"] {
        display: inline;
    }
    .hamburger-icon {
        display: none;
    }
    .header-main .main-logo {
        height: 52px;
        width: 226px;
    }
    .header-bottom {
        display: block;
    }
    .section-1 {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 60% 40%;
        grid-template-columns: 60% 40%;
    }
    .image-container {
        padding: 50px;
        padding-left: 10vw;
    }
    .main-image-surrounding>.main-image,
    .image-list {
        margin: 0 0 0 auto;
    }
    .carousel-dark .carousel-indicators {
        margin-right: 15%;
        margin-left: 15%;
    }
    .product-container {
        padding: 20px 40px;
    }
    .product-description {
        text-align: left;
    }
    .product-buttons>.book-a-consultation-button {
        margin-right: 10px;
    }
    .product-buttons>.choose-a-consultation-button {
        margin-left: 10px;
    }
    .product-spec {
        width: unset;
        max-width: unset;
    }
    .diamond-select-list {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (min-width: 1200px) {
    .announcement-bar-desktop {
        max-width: 1060px;
    }
    .header-bottom>nav>.navbar {
        margin-left: 50px;
    }
    .header-bottom>nav>.navbar>li {
        margin: 10px 30px;
    }
    .container {
        max-width: 1090px!important;
    }
    .image-container {
        padding-left: 15vw;
    }
    .diamond-select-item .choose-diamond-button-desktop {
        height: 50px;
    }
    .diamond-select-item span {
        font-size: 14px;
    }
    .diamond-select-item .list-desktop li {
        line-height: 16px;
    }
    .diamond-select-item .item-key, .diamond-select-item .item-value {
        font-size: 14px;
    }
    .diamond-select-item .list-desktop {
        padding: 10px;
    }
}

@media only screen and (min-width: 1300px) {
    .container {
        max-width: 1260px!important;
    }
}